.nav-content{
    display: flex;
    justify-content: center;
    width: 33.3vw;
    background: transparent;
    color: rgb(62, 78, 95);
    padding: 1rem 1.5rem;
    transition: background 50ms ease-in 0s, width 50ms ease-out 0s;
}
.active,
.nav-content:hover{
    background-color: dodgerblue;
    color: white;
    box-shadow: dodgerblue 0px 1px 2px 0px;
}
@media screen and (max-width:768px){
    .nav-content{
        width: 100vw;
        box-sizing: border-box;
    }
  }